<?xml version="1.0" encoding="UTF-8"?>
<server description="${project.build.finalName}">

    <!-- Enable features -->
    <featureManager>
        <feature>microProfile-2.2</feature>
    </featureManager>
    
    <httpEndpoint id="defaultHttpEndpoint"
        host="*"
        httpPort="${openliberty.http.port}"
        httpsPort="${openliberty.https.port}"/>

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true" />
    
    <keyStore id="defaultKeyStore" password="0p3nL1b3ry"/>
    
    <application location="${project.build.finalName}.war" type="war" id="${project.build.finalName}"
                 name="${project.build.finalName}" context-root="/${project.build.finalName}">
    
    </application>
    
    <logging traceSpecification="${log.name}.*=${log.level}"/>
    
</server>