site_name: SmallRye Config
site_url: https://smallrye.io/smallrye-config
repo_url: https://github.com/smallrye/smallrye-config
edit_uri: edit/main/documentation/src/main/docs

docs_dir: src/main/docs

nav:
  - Home: index.md

  - Config:
      - 'Getting Started': config/getting-started.md
      - 'Expressions': config/expressions.md
      - 'Profiles': config/profiles.md
      - 'Environment Variables': config/environment-variables.md
      - 'Indexed Properties': config/indexed-properties.md
      - 'ConfigValue': config/config-value.md
      - 'Mappings': config/mappings.md
      - 'Map Support': config/map-support.md
      - 'Secret Keys': config/secret-keys.md
      - 'Customizer': config/customizer.md
      - 'Configuration Reference': config/configuration.md
  - Config Sources:
      - 'Custom': config-sources/custom.md
      - 'Factories': config-sources/factories.md
      - 'Locations': config-sources/locations.md
      - 'YAML': config-sources/yaml.md
      - 'JSON': config-sources/json.md
      - 'FileSystem': config-sources/filesystem.md
      - 'ZooKeeper': config-sources/zookeeper.md
      - 'HOCON': config-sources/hocon.md
      - 'KeyStore': config-sources/keystore.md
  - Converters:
      - 'Custom': converters/custom.md
      - 'JSON': converters/json.md
  - Extensions:
      - 'Interceptors': extensions/interceptors.md
      - 'Fallback': extensions/fallback.md
      - 'Relocate': extensions/relocate.md
      - 'Logging': extensions/logging.md
      #- 'Events': extensions/config-events.md
      #- 'Config Source Injection': extensions/config-source-injection.md

plugins:
  - search
  - macros:
      module_name: src/main/macros/docissimo
      include_dir: src/main/macros
  - mike:
      version_selector: true
      css_dir: css
      javascript_dir: javascript

copyright: >-
  Sponsored by <a href="https://www.redhat.com"><img style="vertical-align: middle; height: 2.5em;" alt="Red Hat" src="https://github.com/jbossorg/website/raw/master/docs/img/redhat_reversed.svg"/></a> <br/>
  <a href="https://creativecommons.org/licenses/by/3.0/">CC by 3.0</a> |
  <a href="https://www.redhat.com/en/about/privacy-policy">Privacy Policy</a>

theme:
  name: material
  logo: assets/smallrye-icon.svg
  font:
    text: Roboto
    code: JetBrains Mono
  icon:
    repo: fontawesome/brands/github
  favicon: assets/favicon.ico
  features:
    - navigation.instant
    - navigation.indexes
    - navigation.sections
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue-grey
      accent: red
      toggle:
        icon: material/lightbulb-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: orange
      toggle:
        icon: material/lightbulb-on
        name: Switch to light mode

markdown_extensions:
  - toc:
      toc_depth: 3
      permalink: '#'
  - admonition
  - smarty
  - attr_list
  - md_in_html
  - meta
  - tables
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.snippets
  - pymdownx.inlinehilite
  - pymdownx.details
  - pymdownx.smartsymbols
  - pymdownx.betterem
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

extra_css:
  - assets/extra.css

extra:
  version:
    provider: mike
  snippet_dir: src/main/java
  attributes_path: target/classes/attributes.yaml
